{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'styles/detalhes_projeto.css' %}"
      type="text/css"
    />
    <title>Projeto {{ projeto.projeto }}</title>
  </head>
  <body>
    <div class="box-details">
      <div class="projeto-details">
        <h1>Projeto {{ projeto.projeto }}</h1>
        <p>
          Este projeto encontra-se em uma localização privilegiada, com fácil
          acesso a diversas vias importantes e com excelente infraestrutura ao
          seu redor. Além disso, a região é muito valorizada, com alto potencial
          de crescimento e desenvolvimento, o que torna este investimento uma
          oportunidade única para aqueles que buscam rentabilidade e segurança
          em seus investimentos imobiliários.
        </p>
        <div>
          <ul>
            <li>Taxa Interna de Retorno: {{ projeto.tir_media }}</li>
            <li>Total Captado:{{ projeto.total_captado }}</li>
            <li>Valor Geral de Vendas: {{ projeto.vgv }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-map">{{ mapa_html|safe }}</div>
  </body>
</html>
