* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.box-cards {
  padding-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 221);
  height: 100vh;
}

.cards {
  width: calc(25% - 16px);
  max-height: 280px;
  margin: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.cards p {
  font-size: 24px;
  color: #777;
  margin-bottom: 16px;
}

.cards button {
  background-color: #001a42;
  color: #fff;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cards button:hover {
  background-color: #0b5ed7;
}
